body{
    margin: 10px;
}
section {
    background-color: aquamarine;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: solid 10px;
    border-color: blue;
}
header {
    background-color: rgb(172, 236, 238);
    padding-bottom: 15px;
    border-bottom: solid 10px;
    border-color: blue;
}
footer {
    background-color:cadetblue;
}
p, a {
    font-family: Times, Times New Roman, serif;
    font-weight: 100px;
    font-size: 25px;
}
